@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #f5f5f7;
  width: 100%;
  text-align: center;
  padding: 20px;

  > a {
    color: #5b47d1;
    background-color: #f0edff;
    padding: 10px 20px;
    font-size: 24px;
    text-decoration: none;
    margin-right: 50px;
  }

  nav {
    display: inline-block;

    ul {
      li {
        display: inline;
        list-style: none;
        padding: 10px 20px;
        font-weight: 700;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}

.hero {
  background-image: url(/assets/preview.png);
  height: 400px;
  color: #ffffff;
  text-align: center;
}

.banner {
  padding: 100px;
}

.banner h2 {
  font-size: 48px;
}

.banner p {
  font-size: 20px;
  padding-top: 37px;
}

h4 {
  text-align: center;
  padding-top: 45px;
  font-size: 36px;
}

.container {
  margin-left: 340px;
}

.card {
  display: inline-block;
  width: 360px;
  background: #fff;
  margin: 50px 29px 0px 29px;
}

.card-image-purple {
  height: 180px;
  width: 100%;
  background: #c7b8ff;
}
.card-image-pink {
  height: 180px;
  width: 100%;
  background: #ffb8d8;
}
.card-image-lightblue {
  height: 180px;
  width: 100%;
  background: #b8e0ff;
}
.card-image-green {
  height: 180px;
  width: 100%;
  background: #d4ffb8;
}
.card-image-yellow {
  height: 180px;
  width: 100%;
  background: #ffe4b8;
}
.card-image-sand {
  height: 180px;
  width: 100%;
  background: #ffd4b8;
}

.card-tag {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 8px;
}

.card-tag2 {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 8px;
  padding-left: 28px;
}

.card-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
}

.card-content {
  padding: 16px;
}

.footer {
  background-color: #252424;
  color: #a1a1a6;
  margin-top: 150px;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: left;
  font-size: 0;
}

.footer-column {
  display: inline-block;
  width: 40%;
  vertical-align: top;
  font-size: 20px;
  box-sizing: border-box;
  padding-right: 30px;
}

.footer-column h3 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 20px;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-bottom {
  border-top: 1px solid #333;
  text-align: center;
  padding: 15px 10px;
  font-size: 15px;
  color: #86868b;
  background-color: #020202;
}
